body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.articulo {
    max-width: 800px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Asegura que el texto y la imagen estén centrados */
}

.articulo img {
    width: 60%; 
    max-width: 100%; 
    height: auto; 
    margin: 0 auto 15px; 
    display: block;
    border-radius: 50%; 
}

h2, h3 {
    color: #333;
}

.puntos {
    font-weight: bold;
    color: #28a745;
}

.botones {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.boton {
    padding: 10px 15px;
    background-color: #0026ff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.boton1 {
    padding: 10px 15px;
    background-color: #f0821c;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.boton:hover {
    background-color: #cc5200;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #333;
    color: white;
    margin-top: 20px;
}
